<div class = "jumbotron text-center">
  <div class="container">

  </div>
</div>

<div class = "container">
  <hr>
  <div class="row">
    <div class = "col-md-6">
      <button type = "button">Join A Game</button>
    </div>
  </div>
</div>

