// Place all the styles related to the deuces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
player-image {
  width: 50px;
  height: 50px;
}
.players player-left {
   float:left; width: 50px; height: 50px;
   position: fixed;
   padding-right: 80%;
   left: 10%;
   border: 2px solid blue;
   z-index: 1;
}
.players player-right {
  float: right; width: 50px; height: 50px;
  position: fixed;
  right: 10%;
  border: 2px solid blue;
  z-index: 1;
}
.players player-center-top {
   float:center; width: 50px; height: 50px;
   margin: 10px;
   position: fixed;
   top: 0;
   left: 50px;
   border: 2px solid blue;
   z-index: 1;
}
.players player-center-bottom {
   float:center; width: 50px; height: 50px;
   margin: 10px;
   position: fixed;
   bottom: 0;
   border: 2px solid blue;
   z-index: 1;
}
.content-box {
  width: 98%;
  height: 98%;
}
.players {
  margin: 5px;
  width:750px;
  height:750px;
  padding-bottom: 15px;
}
.body {
  width: 1200px;
  height: 1200px;
}
.html {
  width: 1400px;
  height: 1300px;
}
.empty {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  z-index: 1;
}
